<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GEA - Escuela Generativa Ecológica Ambiental</title>
  
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'GeaApp/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'GeaApp/css/fonts.css' %}">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Indie+Flower&family=Lato&family=Quicksand:wght@300;400&display=swap"
    rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
 
  <header id="principio">
    <nav class="contenedor"> 
      <ul class="menu"> 
        <li class="logo">
          <a  class="logo" id="link-logo" href="{% url 'index' %}">
            <img alt="Logo" title="Home">
          </a>
        </li>
        <li  class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li> 
        <li  class="item"><a class="item item1" href="{% url 'index' %}">Home</a></li> 
        <li  class="item"><a class="item item2" href="#">Sobre Nosotros</a></li> 
        <li  class="item"><a class="item item3" href="#">La Radio</a></li> 
        <li  class="item"><a class="item item4" href="{% url 'blog' %}">Blog</a></li> 
        <li  class="item"><a class="item item5" href="#formulario">Contacto</a></li>   
      </ul> 
    </nav>   
  </header>



  <main>
  
    {% block content %}

    {% endblock %}
  
  </main>
  
<footer>
  <div class="foot">
    <div class="foot-item" style="padding: 0.5em 0 0 0;">
      <h4 class="letra-informal2">O por nuestras redes</h4>
    </div>
    <div class="foot-item" style="background-color: rgb(1, 73, 102);">
      <ul>
        <a class="redes-ico" href="https://www.facebook.com/Escuelagenerativa/" target="_blank"><img src="{% static 'GeaApp/img/redes/fb.png' %}" alt="Facebook"></a>
        <a class="redes-ico" href="https://www.instagram.com/escuelagenerativagea/?hl=es" target="_blank"><img src="{% static 'GeaApp/img/redes/ig.png' %}" alt="Instagram"></a>
        <a class="redes-ico" href="https://www.youtube.com/@VozEnGEA" target="_blank"><img src="{% static 'GeaApp/img/redes/youtube.png' %}" alt="Twitter"></a>
      </ul>
    </div>
    
    <div class="foot-item" style="margin-bottom: 1em;">
        <img src="{% static 'GeaApp/img/logo.png' %}" alt="Logo" style="width: 10%; height: fit-content; margin: 1em 0 1em 0;">
        <h6>Escuela Generativa Ecológica Ambiental</h6>
        <h6>Tel: 02657-353612</h6>
        <h6>Maipú 1712</h6>
        <h6>escuelagenerativagea@gmail.com</h6>
    </div>
    <div class="foot-item">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1660.0059384893405!2d-65.42780716761641!3d-33.68275663926707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d16bb724907b73%3A0x947adcc9bda68792!2sEscuela%20Generativa%20GEA!5e0!3m2!1ses-419!2sar!4v1680103712704!5m2!1ses-419!2sar" width="100%" height="250px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="foot-item" style="font-size: 12px;"><p>© 2023 GEA - Escuela Generativa Ecológica</p></div>
  </div>
  
  <a href="#principio"><i id="flecha" class="fa-solid fa-circle-arrow-up" title="Ir Arriba"></i></a>
  
  
</footer>


  <div class="blur"></div>
  <div class="form-popup">
    <span class="close">&times;</span>
    <div class="form-wrapper">
      <div class="image-column">
        <img src="{% static 'GeaApp/img/logo.png' %}" alt="Imagen de ejemplo"> 
      </div>
      <div class="form-column">
        <br><br>
        <form action="#" method="post">
          <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
          <input type="email" id="email" name="email" placeholder="Email" required>
          <textarea id="mensaje" name="mensaje" placeholder="Mensaje" rows="5" required maxlength="500"
            style="resize: none; height: 250px;"></textarea>
          <br><br>
          <div class="button-wrapper">
            <button type="submit">Enviar!</button>
          </div>
        </form>
        <br><br>
      </div>
    </div>
  </div>

  <script>
    window.addEventListener('scroll', function() {
  var scrollPosition = window.scrollY;
  var documentHeight = document.documentElement.scrollHeight;
  var windowHeight = window.innerHeight;
  var triggerPosition = documentHeight / 2 - windowHeight / 2;
  
  if (scrollPosition >= triggerPosition) {
    document.getElementById('flecha').style.display = 'inline';
  } else {
    document.getElementById('flecha').style.display = 'none';
  }
});

  


  </script>


  <script type="text/javascript" src="{% static 'GeaApp/js/script.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
    integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
    crossorigin="anonymous"></script>
   
</body>

</html>

                    