{% extends "base.html" %}

{% load static %}

{% block content %}



<section id="section-portada">
    <div class="portada">
        <img src="static\GeaApp\img\portada_ejemplo.jpg" alt="Portada" class="img">
        <div style="position: absolute; top: 67%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center;">
            <p id='portada-texto' class="letra-informal">
                Veni y anota la bendi <span style="color: #95c416;">Y</span><span style="color: #1b5a8a;">A</span><span
                    style="color: #de672a;">!</span>
            </p>
        </div>
    </div>
</section>


<ul class="boxes">
    {% for post in posts %}

    <li>
        <div class="boxes__text-wrapper">
            <div>
                <img src="{{post.imagen.url}}" alt="Foto" style="width:100%; margin: auto;">
                <div style="margin-top: 1em; width: 100%;">
                    <p class="box-contenido" style="font-size: 13px;">{{post.contenido}}</p>
                </div>
            </div>
            <div style="margin-top: 2em; text-align: center;">
                <button style="height: 15%" type="button" class="btn btn-mi-estilo">Leer Más</button>
            </div>
        </div>
    </li>

    {% endfor %}
</ul>
<script>
    var abreviado = document.querySelectorAll('.box-contenido');
    function ellipsis_box(elemento, max_chars) {
        limite_text = $(elemento).text();
        if (limite_text.length > max_chars) {
            limite = limite_text.substr(0, max_chars) + " ...";
            $(elemento).text(limite);
        }
    }
    ellipsis_box(abreviado, 130);
</script>



{% for seccion in secciones %}
<section>
    <div class="contenedor">
        <div class="foto">
            <img src="{{seccion.imagen.url}}" alt="imagen">
        </div>
        <div class="texto {% if forloop.last %}ultimo{% endif %}" style="background-color: {{seccion.color_fondo}};">
            <h2>{{seccion.titulo}}</h2>
            <p>{{seccion.contenido}}</p>
            <br><br><br><br><br>
            {% if forloop.last %}
            <div id="boton-section">
                <button type="button" class="btn btn-mi-estilo-hover" style="margin: auto;">Inscribite Ahora!</button>
            </div>
            {% endif %}
        </div>
    </div>   
</section>
{% endfor %}

<section>

    
        <div id="formulario" style="width: 100%;">
            <div id="titulo-form" class="col-12 text-center" style="margin-top: 4em; width: 100%;">
                <h4 class="letra-informal2" id="form-titulo">
                    Querés Contactarnos? </h4>
                <h4 class="letra-informal" id="form-subtitulo">
                    Dejanos tu mensaje!</h4>
            </div>


            <div class="form-column" style="width: 96%;">
                <br><br>
                <form action="#" method="post">
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <input type="text" id="mensaje" name="mensaje" placeholder="Mensaje" rows="5" required maxlength="500"
                        style="resize: none; height: 250px;"></input>
                    <br><br>
                    <div class="button-wrapper">
                        <button type="submit" style="font-size: 16px; letter-spacing: 1px;">Enviar!</button>
                    </div>
                </form>
                <br><br>
            </div>
        </div>
    
</section>



{% endblock %}